@font-face {
    font-family: 'din-next-lt-w23-black';
    src: url(../fonts/din-next-lt-w23-black.ttf);
}

@font-face {
    font-family: 'din-next-lt-w23-bold';
    src: url(../fonts/din-next-lt-w23-bold.ttf);
}

@font-face {
    font-family: 'din-next-lt-w23-heavy';
    src: url(../fonts/din-next-lt-w23-heavy.ttf);
}

@font-face {
    font-family: 'din-next-lt-w23-light';
    src: url(../fonts/din-next-lt-w23-light.ttf);
}

@font-face {
    font-family: 'din-next-lt-w23-medium';
    src: url(../fonts/din-next-lt-w23-medium.ttf);
}

@font-face {
    font-family: 'din-next-lt-w23-ultra-light';
    src: url(../fonts/din-next-lt-w23-ultra-light.ttf);
}

body,
html {
    margin: 0;
    font-size: 16px;
    overflow-x: hidden;
    background: #F9FCFD;
    position: relative;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

input:focus,
button:focus,
textarea:focus {
    outline: none;
}

img {
    max-width: 100%;
}

a:hover,
a:focus {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.arab-btn {
    background: #E0DFE0;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'din-next-lt-w23-light';
    gap: 0.5rem;
    padding: 0.25rem 0.875rem 0.5rem;
}

.nav-sec {
    background: #FFFFFFB2;
    box-shadow: 0px 4px 24px 0px #00000026;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 9;
    top: 0;
}

.upper-nav {
    padding: 0 5rem;
}

.lang-change {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 0.5rem;
}

.country-select {
    width: 11.375rem;
    position: relative;
}

.form-select {
    background-color: #E0DFE0;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    font-family: 'din-next-lt-w23-light';
    font-size: 1rem;
    font-weight: 400;
    background-position: left 0.75rem center;
    text-align: end;
    padding: 0.375rem 0.75rem 0.375rem 2rem;
}

.phone-number-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background: #D9D9D9CC;
    padding: 0.5rem 1.5rem 0.75rem;
    border-radius: 0 0 1.5rem 1.5rem;
}

.phone-number-nav button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: transparent;
    border: 0;
    padding: 0;
    font-family: 'din-next-lt-w23-light';
    font-size: 1rem;
    font-weight: 400;
}

.phone-number-nav button img {
    width: 1.5rem;
    height: 1.5rem;
}

.main-sec {
    background-image: url(../images/hero-bg.png);
    background-position: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.nav-col {
    padding: 0 5rem;
    padding-bottom: 0.25rem;
}

.nav-col .container-fluid {
    flex-direction: row-reverse;
}

.nav-col .navbar-collapse {
    flex-direction: row-reverse;
}

.nav-col .navbar-nav {
    flex-direction: row-reverse;
}

.n-btn {
    font-size: 1rem;
    font-weight: 500;
    font-family: 'din-next-lt-w23-medium';
    color: #fff;
    background: #815FA9;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    padding: 0.32rem 1.4rem;
    transition: .3s;
}

.n-btn:hover {
    background: transparent;
    border: 1px solid #815FA9;
    color: #815FA9;
}

.navbar-brand {
    margin-right: 0;
}

.navbar-brand img {
    width: 15rem;
}

.nav-link {
    font-family: 'din-next-lt-w23-light';
    font-size: 1rem;
    font-weight: 400;
    color: #4C4C4C !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    transition: .3s;
}

.nav-link.active {
    font-weight: 500;
    font-family: 'din-next-lt-w23-medium';
    color: #9D4CDC !important;
}

.nav-link:hover {
    color: #9D4CDC !important;
}

.footer-sec {
    background: #815FA9;
    padding: 5rem 0;
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    margin-left: 2rem;
}

.footer-social-inner {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.footer-social-inner a img {
    width: 2.25rem;
    height: 2.25rem;
}

.footer-social-inner p {
    margin: 0;
    padding-left: 1rem;
    font-family: 'din-next-lt-w23-medium';
    font-size: 1.25rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0.5rem;
}

.footer-social h6 {
    font-size: 3rem;
    font-weight: 800;
    font-family: 'din-next-lt-w23-heavy';
    color: #fff;
}

.foot-map {
    background: #fff;
    padding: 1.25rem;
    border-radius: 1.25rem;
    display: flex;
    align-items: center;
    height: 100%;
}

.foot-map-img {
    width: 28%;
    height: 100%;
}

.foot-map-img img {
    width: 100%;
}

.foot-country {
    width: 72%;
    height: 100%;
}

.j-head {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 1rem;
}

.j-head h5 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
    font-family: 'din-next-lt-w23-medium';
    font-size: 1.25rem;
    font-weight: 500;
}

.foot-location {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: end;
    padding-left: 1.25rem;
}

.f-location-one {
    width: 33.3333%;
}

.f-location-one h6 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: end;
    font-family: 'din-next-lt-w23-medium';
    font-size: 1.5rem;
    font-weight: 500;
}

.f-location-one p {
    margin: 0;
    font-family: 'din-next-lt-w23-medium';
    font-size: 1.125rem;
    font-weight: 500;
    max-width: 15rem;
    margin-left: auto;
}

.right-res p {
    margin: 0;
    font-family: 'din-next-lt-w23-medium';
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    color: #fff;
    margin-top: 2.5rem;
}

.hero-img {
    position: relative;
}

.hero-img img {
    width: 100%;
}

.star1 {
    width: 13.25rem !important;
    position: absolute;
    left: 0;
    bottom: -3.75rem;
}

.hero-content {
    text-align: end;
}

.hero-content h1 {
    font-family: 'din-next-lt-w23-heavy';
    font-size: 3rem;
    font-weight: 800;
    color: #815FA9;
    margin-bottom: 2rem;
}

.hero-content p {
    font-family: 'din-next-lt-w23-light';
    font-size: 2.125rem;
    font-weight: 400;
    max-width: 37rem;
    margin-left: auto;
    margin-bottom: 2rem;
}

.hero-btns {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    margin-bottom: 2rem;
}

.h-btn {
    background: #F0F0F2;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1.595rem;
    font-family: 'din-next-lt-w23-medium';
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    transition: 0.3s;
}

.h-btn:hover {
    color: #fff;
    background: #815FA9;
}

.h-btn.active {
    color: #fff;
    background: #815FA9;
    padding: 0.688rem 1.251rem;
}

.h-btn img {
    width: 1.5rem;
    height: 1.5rem;
}

.hero-spans {
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: end;
    gap: 1rem;
}

.hero-spans span {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-family: 'din-next-lt-w23-light';
    font-size: 1.5rem;
    font-weight: 400;
}

.hero-spans span img {
    width: 1.5rem;
    height: 1.5rem;
}

.hero-sec {
    padding-top: 8rem;
}

.contact-sec {
    padding: 10rem 0 0;
}

.contact-col {
    text-align: center;
}

.contact-col img {
    width: 6.25rem;
    height: 6.25rem;
}

.contact-col h6 {
    font-family: 'din-next-lt-w23-medium';
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0;
}

.contact-col p {
    margin: 0;
    font-family: 'din-next-lt-w23-medium';
    font-size: 1rem;
    font-weight: 500;
    padding: 0 2rem;
}

.who-we-are-sec {
    background: #F0F0F0;
    margin-top: -6rem;
    padding: 8rem 0 3rem;
}

.who-we-are-content {
    text-align: end;
    padding-left: 4rem;
}

.who-we-are-content h2 {
    font-family: 'din-next-lt-w23-heavy';
    font-size: 2.375rem;
    font-weight: 800;
    color: #815FA9;
    margin-bottom: 2rem;
}

.who-we-are-content p {
    font-family: 'din-next-lt-w23-medium';
    font-size: 1rem;
    font-weight: 500;
    color: #313C45;
    margin-bottom: 1.5rem;
}

.who-we-are-img img {
    width: 100%;
}

.who-we-are-img {
    position: relative;
}

.star2 {
    position: absolute;
    width: 13.25rem !important;
    right: 4.75rem;
    top: 7rem;
}

.cloud-img img {
    width: 100%;
}

.disorder-sec {
    background: #F0F0F0;
    padding: 1rem 0 7rem;
}

.disorder-heading {
    text-align: end;
}

.disorder-heading h3 {
    font-family: 'din-next-lt-w23-heavy';
    font-size: 2.375rem;
    font-weight: 800;
    color: #815FA9;
    margin: 0;
}

.disorder-heading h2 {
    font-family: 'din-next-lt-w23-heavy';
    font-size: 3rem;
    font-weight: 800;
    color: #11ACE4;
}

.first-slider {
    padding: 2rem 0;
    padding-right: calc(50% - 655px) !important;
}

.first-slider-inner {
    margin: 0.75rem;
}

.first-slider-inner-col {
    background: #FBFBFD;
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px 0px #0000000D;
}

.first-slider-inner-col img {
    width: 100%;
}

.first-slider-inner-col p {
    margin: 0;
    font-family: 'din-next-lt-w23-medium';
    font-size: 1.188rem;
    font-weight: 500;
    text-align: end;
    padding: 1.25rem 1rem 2rem;
    max-width: 25rem;
    margin-left: auto;
}

.slick-list {
    padding-right: 0 !important;
}

.cloud-img2 {
    margin-top: -5rem;
}

.artificial-sec {
    background: transparent;
    padding: 0 0 3rem;
}

.artificial-sec .who-we-are-content {
    padding-left: 9rem;
    padding-right: 1rem;
}

.artificial-sec .star2 {
    right: 7rem;
    bottom: -5.6rem;
    top: initial;
}

.artificial-sec .first-slider {
    padding: 10rem 0 0;
    padding-right: calc(50% - 655px);
}

.ai-pic-sec {
    background: #F0F0F0;
    padding: 10rem 0 9rem;
    margin-top: -10.6rem;
}

.ai-pic-head {
    text-align: end;
}

.ai-pic-head h3 {
    font-family: 'din-next-lt-w23-heavy';
    font-size: 2.375rem;
    font-weight: 800;
    color: #815FA9;
}

.ai-pic-col {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 3rem;
}

.ai-pic-inner {
    width: 18.025%;
    overflow: hidden;
}

.ai-pic-inner img {
    width: 100%;
    transition: 2s all ease-in-out;
}

.ai-pic-inner:hover img {
    transform: scale(1.5);
}

.country-select-btn {
    background-color: #E0DFE0;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    font-family: 'din-next-lt-w23-light';
    font-size: 1rem;
    font-weight: 400;
    padding: 0.375rem 0.75rem 0.375rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.country-select-btn span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.country-select-btn span img {
    width: 1.5rem;
    height: 1.5rem;
}

.country-s-ul {
    background: #FFFFFF;
    border-radius: 1.25rem;
    text-align: end;
    overflow: hidden;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 3rem;
    z-index: 9;
    box-shadow: 0px 4px 8px 0px #0000000D;
}

.country-s-ul li {
    font-family: 'din-next-lt-w23-light';
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
    cursor: pointer;
    transition: .3s;
}

.country-s-ul li:hover {
    color: #9D4CDC !important;
}

.country-s-ul li img {
    width: 1.5rem;
    height: 1.5rem;
}

.nav-btn {
    position: relative;
}

.nav-btn .country-s-ul {
    min-width: 12rem;
}

.service-head h2 {
    text-align: end;
    font-family: 'din-next-lt-w23-heavy';
    font-size: 2.375rem;
    font-weight: 800;
    color: #815FA9;
    margin-bottom: 3rem;
}

.intervention-col {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.intervention-inner {
    background: #fff;
    border-radius: 1.25rem;
    min-width: 15.4rem;
    min-height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 4px 8px 0px #0000000D;
    padding: 1rem;
    cursor: pointer;
    gap: 0.5rem;
    position: relative;
}

.intervention-inner span {
    position: absolute;
    bottom: -1rem;
    display: none;
}

.intervention-inner p {
    margin: 0;
    font-family: 'din-next-lt-w23-medium';
    font-size: 1.25rem;
    font-weight: 500;
}

.intervention-inner svg path {
    fill: #6FC063;
}

.intervention-inner.active {
    background: #6FC063;
}

.intervention-inner.active p {
    color: #fff;
}

.intervention-inner.active svg path {
    fill: #fff;
}

.intervention-inner.active span {
    display: block;
}

.service-content {
    margin-top: 3.5rem;
    text-align: end;
    padding-right: 3rem;
}

.service-content h3 {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2rem;
    font-family: 'din-next-lt-w23-medium';
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2.5rem;
}

.service-content h3 img {
    width: 3.375rem;
}

.service-content p {
    font-family: 'din-next-lt-w23-medium';
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1.75rem;
}

.service-content ul {
    font-family: 'din-next-lt-w23-medium';
    font-size: 1rem;
    font-weight: 500;
    list-style: disc;
    text-align: right;
    padding-right: 1.5rem;
}

.service-content ul li {
    padding-bottom: 0.25rem;
}

.service-img {
    margin-top: 3.5rem;
    position: relative;
}

.service-img img {
    width: 100%;
}

.service-sec {
    padding: 0 0 5rem;
}

.service-img .star2 {
    bottom: -2.5rem;
    top: initial;
    right: 0;
    width: 10.5rem !important;
}

.treatment-sec {
    background: #F0F0F0;
    margin-top: -6rem;
    padding-top: 10rem;
    padding-bottom: 12rem;
}

.treatment-sec .star2 {
    right: initial;
    left: -3.75rem;
}

.protocol-sec {
    margin-top: -5rem;
}

.who-is-sec .star2 {
    top: initial;
    bottom: -5.5rem;
    right: 6.5rem;
}

.who-is-sec {
    padding: 4rem 0 10rem;
}

.training-sec .who-we-are-content {
    padding-right: 5rem;
    padding-left: 0rem;
}

.training-sec .star2 {
    right: initial;
    left: 1.65rem;
    bottom: initial;
    top: 7rem;
}

.training-sec {
    padding: 5rem 0 5rem;
}

.successful-sec {
    margin-top: -6rem;
    padding: 12rem 0 5rem;
}

.first-slider4x .first-slider-inner-col {
    padding: 1.875rem;
    background: #fff;
}

.first-slider4x .first-slider-inner-col img {
    width: 2.5rem;
}

.first-slider4x .first-slider-inner-col p {
    padding: 0;
    max-width: 100%;
    font-family: 'din-next-lt-w23-light';
    font-size: 1.125rem;
    font-weight: 400;
    text-align: end;
    margin: 2rem 0 1rem;
    padding-left: 2.5rem;
}

.star-span-slider4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.star-span-slider4 span {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.star-span-slider4 span img {
    width: 1.125rem !important;
}

.star-span-slider4 h6 {
    color: #0D1216;
    font-family: 'din-next-lt-w23-medium';
    font-size: 1.125rem;
    font-weight: 500;
}

.onclick-fixed-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.onclick-fixed-sec button {
    border: 0;
    padding: 0;
    background: transparent;
    position: fixed;
    z-index: 99;
}

.click-to-up {
    left: 2rem;
    top: 0;
    bottom: 0;
}

.click-to-call {
    right: 2rem;
    top: 0;
    bottom: 0;
}